@model IEnumerable<BikeSharingApp.Models.Bike>

@{
    ViewData["Title"] = "List of Bikes";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <a class="btn btn-primary" asp-controller="Bikes" asp-action="Create">Create New Bike</a>
        </div>
    </div>
    
    <div class="row">
        @foreach (var bike in Model)
        {
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="card">
                    <img src="@bike.Img" class="card-img-top" alt="@bike.BikeName">
                    <div class="card-body">
                        <h5 class="card-title">@bike.BikeName</h5>
                        <p class="card-text">Price: $@bike.Price</p>
                        <p class="card-text">Status: @bike.BikeStatus</p>
                        <p class="card-text">Location: @bike.Location?.Name</p>
                        <a class="btn btn-info" asp-controller="Bikes" asp-action="Details" asp-route-id="@bike.Id">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
