@model IEnumerable<BikeSharingApp.Models.Bike>

@{
    ViewData["Title"] = "List of Bikes";
    var defaultImage = "/images/xemau.jpg"; // Path to the default image
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <a class="btn btn-primary" asp-controller="Bikes" asp-action="Create">Create New Bike</a>
        </div>
    </div>

    <div class="row">
        @foreach (var bike in Model)
        {
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="card">
                    <img src="@(!string.IsNullOrEmpty(bike.Img) ? bike.Img : defaultImage)" class="card-img-top"
                        alt="@bike.BikeName">
                    <div class="card-body">
                        <h5 class="card-title">@bike.BikeName</h5>
                        <p class="card-text">Price: @bike.Price đ</p>
                        <p class="card-text">PricePerHour: @bike.PricePerHour đ</p>
                        <p class="card-text">Location: @bike.Location?.Name</p>
                        <p class="card-text text-sm">Description: @bike.Description</p>
                        <a class="btn btn-info" asp-controller="Bikes" asp-action="Details" asp-route-id="@bike.Id">View
                            Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
